[Desktop Entry]
Version=1.0
Name=Linion Addon Manager
Name[de]=Linion Addon Manager
Name[en]=Linion Addon Manager
Name[es]=Linion Addon Manager
Name[ru]=Менеджер аддонов Linion
Comment=Linion Addon Manager for TESO players
Comment[de]=Linion Addon Manager fuer TESO Spieler
Comment[en]=Linion Addon Manager for TESO players
Comment[es]=Linion Addon Manager para TESO jugadores
Comment[ru]=Менеджер аддонов для TESO Linion
Keywords=Games;MMORPG;TESO;addons;
Keywords[de]=Spielung;MMORPG;TESO;addons;
Keywords[es]=Juegos;MMORPG;TESO;addons;
Keywords[ru]=Игры;MMORPG;TESO;аддоны;
Exec=linion
Icon=linion
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;GNOME;Utility;KDE;
